<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS를 통한 정확한 위치 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 네트워크를 통한 대략적인 위치 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Target SDK API 33 이상부터 Notification 에 다음의 Runtime Permission 이 추가됨 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- 카메라 권한 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 외부저장소 읽기 권한 -->
    <!-- targetSDK 32 이하 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <!-- targetSDK 33 이상 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/movie_friends_ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/movie_friends_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieFriends"
        tools:targetApi="31"
        android:name=".common.MovieFriendsApplication">
        <activity
            android:name=".presenter.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="${KAKAO_NATIVE_KEY}" />
            </intent-filter>
        </activity>
        <service
            android:name=".presenter.service.FCMService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
    </application>

</manifest>